/* Week Ten: Final Project */
/* Signature Portfolio Assignment - Restaurant Web Application */
/* Allison Adolphson ICT 4510 Advanced Website Design & Management */
/* CSS File */

/* REMOVE ME - I'm just here to hold space on the fake nav */
.about {
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Information */
.aboutLink {
    color: #96684F;
    font-family: 'Economica', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
}
.aboutLink:hover {
    color: #E04F2E;
    font-weight: bold;
    text-decoration: none;
}
.align-items-start {
    align-items: stretch !important;
}
.infoBarBottom {
    display: flex;
    justify-content: center;
}
.infoBarTop {
    display: flex;
    justify-content: center;
}
.infoImgOne {
    height: 301px;
}
.infoImgTwo {
    height: 301px;
}
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}
.information h1 {
    color: #E6E1D0;
    font-size: 25px;
    text-align: center;
}
.information p {
    color: #E6E1D0;
}
.infoCaptionCard {
    background-color: #291713;
    height: 301px;
    padding: 25px;
    text-align: center;
    width: 300px;
}

/* Map */
#v-pills-tab {
    display: flex;
    justify-content: space-between;
}
.far, .fas {
    font-size: 50px;
    padding: 25px;
}
#mapBoxMap {
    height: 450px;
    width: 75%;
}
.mapContainer {
    background-color: #291713;
    display: flex;
    width: 100%;
}
.mapContainer [type="button"] {
    border: 0;
}
.mapContainer h1 {
    color: #96684F;
}
.mapContainer .socialMediaLink {
    color: #E04F2E;
    font-size: 20px;
    padding: 0 5px 0 5px;
    text-decoration: none;
}
.mapContainer .socialMediaLink:hover {
    color: #EBBF8C;
}
.mapInfoBar {
    width: 50%;
}
.nav-pills .nav-link.contactInfo.active {
    background-color: #291713;
    color: #E04F2E;
}
.nav-pills .nav-link.contactInfo {
    background-color: #75816B;
    color: #E6E1D0;
}
.nav-pills .nav-link.contactInfo.active, .nav-pills .nav-link.contactInfo {
    border-radius: 0rem;
    height: 150px;
}
.tab-pane {
    padding: 25px;
    width: 100%;
}

* Media Queries */
@media (min-width: 769px) {
    /* Properties for Large Display */
    }
@media (max-width: 800px) {
    /* Properties for Medium Display */
    .mapContainer {
        flex-direction: column;
    }
    #mapBoxMap {
        height: 450px;
        width: 100%;
    }
    .far, .fas {
        font-size: 25px;
        padding: 5px;
    }
    .mapInfoBar {
        width: 100%;
    }
    .nav-pills .nav-link.contactInfo.active, .nav-pills .nav-link.contactInfo {
        height: 65px;
    }
}
@media (max-width: 480px) {
    /* Properties for Small Display */
    .infoCaptionCard {
        align-items: center;
        background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 5px;
        position: absolute;
        z-index: 2;
    }
    .information h1 {
        color:#ffffff;
    }
    .information p {
        color: #ffffff;
    }
}